
/* CSS AUTOCOMPLETE CONTAINER */
.autocomplete-container {
    position: absolute;
    bottom: 70px;
    width: 97%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    background-color: #FFF;
    max-height: 300px;
    overflow-y: scroll;
    }
/* END */  



.highlighted {
background: rgba(255,255,102,0.3)
}

.result { 

}

.result-name {

    font-size: 1.2em;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding-left: 5px;
}

.result-desc {
    font-size: 0.8em;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    padding-left: 5px;
}

div.result:hover {
    background: rgba(255,255,102,0.5)
}
#master-chat {
    position: relative;
}