#emoji-button {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    bottom: 12px;
    right: 5px;
    padding: 0px;
    text-align: center;
}

i#emoji-button-icon {
    position: absolute;
    padding: 0px;
    top: 0px;
    width: 35px;
    user-select: none;  
}

#emoji-table {
    display: block;
    position: absolute;
    bottom: 70px;
    right: 25px;
    text-align: center;
    max-height: 200px;
    width: 250px;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: auto;
    outline: none;
    padding: 5px;
    box-sizing: border-box;
    overflow-y: scroll;
}

div.emoji { 
    user-select: none;      
    cursor: pointer;
}
.emoji:hover {
    background-color: rgba(0, 0, 0, 0.2);
}