html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
}

.full-height {
  height: 100%
}

.no-padding {
  padding: 0
}

.no-margin {
  margin: 0
}

body {
  background-color: white
}

#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

#header {
  text-align: center;
}

#header .logo {
  margin-top: 20px;
  width: 300px;
}

#login-page {
  background-image: url("../resources/images/dark-linen.png");
  background-repeat: repeat;
  height: 100%;
}

#loginform {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 3px solid white;
  border-radius: 7px;
  background-image: url("../resources/images/light-linen.jpg");
  background-repeat: repeat;
}

#loginfield {
  text-align: center;
}

#chatpane {
  width: 100%;
  height: 100%;
  background-image: url("../resources/images/light-linen.jpg");
  background-repeat: repeat;
  padding: 10px;
  overflow-y: scroll;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
}

.chatpane {
  height: 90%;
}

.messageinput {
  height: 10%
}

#master-chat {
  display: none;
  height: 100%;
  padding: 0 10px;
}

#user-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-image: url("../resources/images/dark-linen.png");
  background-repeat: repeat;
  -moz-box-shadow: inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow: inset 0 0 5px #000000;
}

#user-list .logo {
  width: 100%;
  padding: 15px;
}


#messageinput {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: .3s;
}

#messageinputline {
  position: relative;
  margin-left: 10px;
}

#messageinputline input {
  padding-left: 40px;
}

#messageinputline i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: .3s;
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 10000;
  top: 10px;
  right: 10px;
}

#colorpicker {
  text-align: center;
}
span.colorbox {
  height: 12px;
  width: 12px;
  margin-right: 4px;
  border-radius: 100%;
  display: inline-block;
}

div.colorbox {
  height: 20px;
  width: 20px;
  margin: 4px;
  display: inline-block;
  border-radius: 100%;

}

div.colorbox.selected {
  border: 1.5px solid whitesmoke;
}

div.clearfloat {
  clear: both;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: palevioletred;
}

#color3 {
  background-color: yellowgreen;
}

#color4 {
  background-color: slateblue;
}

#color5 {
  background-color: crimson;
}

#color6 {
  background-color: gold;
}

#color7 {
  background-color: darkblue;
}

#color8 {
  background-color: dimgray;
}

#color9 {
  background-color: green;
}

#color10 {
  background-color: orange;
}

div.messagebox {
  margin: 2px 0 2px 0;
}

div.quote {
  border-left: 3px solid #e5e5e5;
  padding-left: 6px;
  background-color: #fcf7ed;
}

span.date {
  font-size: 12px;
}

img.giphyimage {
  max-width: 250px;
  max-height: 300px;
}

ul#userlist {
  margin: 10px;
  padding: 10px;
  background-image: url("../resources/images/light-linen.jpg");
  background-repeat: repeat;
  border-radius: 5px;
  height: ;
}

p.users {
  padding-left: 5px;
  color: white;
  font-weight: bold;
  line-height: 16px;
  margin: 5px;
}